/* Color pallet */
/* #ffffff	 */
/* #fbd743	 */
/* #ff1f1f	 */
/* #5db9ff*/
/* #363b81 */

body {
  background-color: #5db9ff;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
}

.title {
  margin: 30px auto;
  text-align: center;
  color: #fbd743;
  font-size: 40px;
}

.container {
  padding: 40px;
  width: 700px;
  height: 500px;
  margin: 10px auto;
  border: 2px solid #fff;
}

.description {
  color: #fbd743;
  font-size: 25px;
  font-weight: 700;
}

.score {
  color: #363b81;
  font-size: 25px;
}

.score-number {
  color: #363b81#fff;
  font-weight: 700;
  font-size: 30px;
  margin: 0 10px 0;
}

.pokemon-img {
  text-align: center;
  margin: 10px auto;
  width: 300px;
  height: 200px;
}

.pokemon-img img {
  width: 250px;
}

/* @keyframes xxx {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} */

.input {
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 50px;
  margin: 20px auto;
  border: 2px solid #5db9ff;
  background-color: #fff;
  border-radius: 10px;
}

.blink {
  border: 3px solid #fbd743;
}

.input-text {
  margin-top: 5px;
  font-size: 30px;
}

.btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  color: #fff;
  background-color: #006cbf;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
